<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords"
          content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>admin页面 </title>
    <!--dynamic table-->
    <link th:href="@{/js/advanced-datatable/css/demo_page.css}" rel="stylesheet"/>
    <link th:href="@{/js/advanced-datatable/css/demo_table.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/js/data-tables/DT_bootstrap.css}"/>


    <div th:include="/admin/common::commonheader"></div>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="/admin/common::leftmenu"></div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div th:replace="/admin/common::headermenu"></div>
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                信息管理
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">信息管理</a>
                </li>
                <li>
                    <a href="#">信息管理列表</a>
                </li>
                <li class="active">密码修改</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            密码修改
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <form th:action="@{/admin/changePassword}" method="post">
                                <span style="color: red">[[${msg}]]</span>
                                <div class="form-group">
                                    <label>用户编号</label>
                                    <input type="text" name="studentId" placeholder="情输入用户编号">
                                    <label>新密码</label>
                                    <input type="text" name="password" placeholder="请输入新密码">
                                </div>
                                <button type="submit" class="btn btn-default" id="addTeacherCourse">修改</button>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->


    </div>
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<div th:replace="/student/common::commonscript"></div>

<!--dynamic table-->
<!--<script type="text/javascript" language="javascript"
        th:src="@{/js/advanced-datatable/js/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/js/data-tables/DT_bootstrap.js}"></script>
&lt;!&ndash;dynamic table initialization &ndash;&gt;
<script th:src="@{/js/dynamic_table_init.js}"></script>-->

<script type="text/javascript">

</script>
</body>
</html>
